{% extends 'snippet/_base.html' %}
{% load staticfiles %}


{% block stylestop %}
<link rel="stylesheet" href="{% static 'userextension/css/profile.css' %}">
{% endblock %}


{% block main %}
<!-- .row-->
<div class="row">
	
	<div class="col-md-3 col-sm-2"></div>
	
	<div class="col-md-6 col-sm-8 col-xs-12">
		<ul class="list-unstyled public-dashboard">
			
			<li>
				<div class="well text-center">
					<h2 class="text-muted">Public Profile</h2>
				</div>
			</li>
			
			<!-- User data block -->
			<li class="user-data-block">
				<!-- User profile block -->
					<ul id="user-profile-block" class="list-unstyled list-inline dashboard-top text-center">
						<li><img class="img-thumbnail" src="https://sigil.cupcake.io/{{ object.username }}?inverted=1&w=120" width="120" height="120"></li>
						<li class="dashboard-list">
							<ul class="list-unstyled dashboard-top-list">
								<li><h2><strong>{{ object.username }}</strong></h2></li>
								{% if object.userprofile.websiteUrl %}
									<li><h5><a id="user-website" href="{{ object.userprofile.websiteUrl }}">{{ object.userprofile.websiteUrl }}</a></h5></li>
								{% endif %}
								<li><h5 class="text-muted"><small>joined on</small> {{ user.date_joined|date:"d F Y" }}</h5></li>
								<li><h5 class="text"><small>number of Snippets</small> <strong>{{ object.snippet_set.count }}</strong></h5></li>
							</ul>
						</li>
					</ul> <!-- /User profile block -->
			</li>
			
			<!-- Recent Snippets block -->
			<li class="recent-snippet-block">
				<div class="panel panel-default">
					<div class="panel-heading snippet-list-heading"><h3>Recent Snippets:</h3></div>
					<div class="panel-body">
						<!-- Table -->
						<table class="table table-hover table-responsive">
							<thead>
								<tr>
									<th>#</th>
									<th>Title</th>
									<th>Language</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
								{% for snippet in object.snippet_set.all reversed %}
								  {% ifequal snippet.visibility "public" %}
									<tr>
										<td><span data-toggle="tooltip" data-placement="left" title="Public Snippet"><i class="fa fa-user fa-2"></i></span></td>
										<td><a href="{% url 'snippet:detailSnippet' urlcode=snippet.url_code %}"><strong>{{ snippet.title }}</strong></a></td>
										<td>{{ snippet.language }}</td>
										<td>{{ snippet.date_added_raw|date:"SHORT_DATETIME_FORMAT" }}</td>
									</tr>
							    {% endifequal %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</li>
			<!-- /Recent Snippets block -->
			
			
		</ul>
	</div>
	
	<div class="col-md-3 col-sm-2"></div>
	
</div> <!-- /.row-->
{% endblock %}


{% block scriptsbottom %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip()
		});
	</script>
{% endblock %}

