{% extends 'snippet/_base.html' %}
{% load staticfiles %}


{% block stylestop %}
  <link rel="stylesheet" href="{% static 'userextension/css/login.css' %}">
{% endblock %}


{% block main %}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 login-heading">
		<h1><span><strong>Social Login:</strong></span><br><small>Authenticate yourself with social networks!</small></h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 text-center">
	<div class="well">
		
		
		<ul class="list-inline list-unstyled login-list">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
				<li class="login-icon facebook">
					<a href="{% url 'social:begin' 'facebook' %}"><span><i class="fa fa-facebook-square wobble-vertical"></i></span></a>
					<p><a href="{% url 'social:begin' 'facebook' %}"><strong>Login with Facebook</strong></a></p>
				</li>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
				<li class="login-icon google">
					<a href="{% url 'social:begin' 'google-oauth2' %}"><span><i class="fa fa-google-plus-square wobble-vertical"></i></span></a>
					<p><a href="{% url 'social:begin' 'google-oauth2' %}"><strong>Login with Google</strong></a></p>
				</li>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
				<li class="login-icon twitter">
					<a href="{% url 'social:begin' 'twitter' %}"><span><i class="fa fa-twitter-square wobble-vertical"></i></span></a>
					<p><a href="{% url 'social:begin' 'twitter' %}"><strong>Login with Twitter</strong></a></p>
				</li>
				</div>
			</div> <!-- /.row -->
		</ul>
		
		
	</div> <!-- /.well -->
	</div>
</div>
{% endblock %}


{% block scriptsbottom %}
{% endblock %}

