<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>User Profile</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">
  
  <img src="https://sigil.cupcake.io/{{ object.username }}?inverted=1&w=72" width="72" height="72">
  <h2>{{ object.username }}</h2>
  
  <p>Active via {{ object.userprofile.accountType }}</p>
  
  <div>
    <h3>Recent Snippets:</h3>
    {% if recentSnippets %}
      <ul>
        {% for rSnip in recentSnippets %}
        <li style="border:1px solid black;">
          <p>{{ rSnip.title }} - on {{ rSnip.date_added_raw|date:"SHORT_DATETIME_FORMAT" }}</p>
          <p>Hits: {{ rSnip.snippetextras.hits }}</p>
          <p>Language: {{ rSnip.language }}</p>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <h2>No recent snippets.</h2>
    {% endif %}
  </div>
  
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script type="text/javascript">
    
    $(document).ready(function() {
      //do something here.
    });
    
  </script>
</body>
</html>
