<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>User Snippets</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">
  <h2>{{ user.username }}'s Snippets:</h2>
  
  {% if object_list %}
    {% for snippet in object_list %}
      <div style="border: 1px solid black;">
        <a href="{% url 'snippet:detailSnippet' snippet.url_code %}"><p>{{ snippet.title }}</p></a>
      </div>
      <br>
    {% endfor %}
  {% else %}
    <h2>No Snippets made yet.</h2>
  {% endif %}
  
  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a href="{% url 'userext:usersnippets' pg=page_obj.previous_page_number %}">Previous</a>
    {% endif %}
    <span>
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
      <a href="{% url 'userext:usersnippets' pg=page_obj.next_page_number %}">Next</a>
    {% endif %}
  {% endif %}
  
  
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script type="text/javascript">
    
    $(document).ready(function() {
      //do something here.
    });
    
  </script>
</body>
</html>
