{% load staticfiles %}

<script type="text/javascript" src="{% static 'nil/js/bootstrap-toggle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'nil/js/bootstrap-tokenfield.min.js' %}"></script>
<script type="application/octet-stream" src="{% static 'nil/js/bootstrap-toggle.min.js.map' %}"></script>
<script type="text/javascript" src="{% static 'nil/js/ace/ace.js' %}"></script>
<script type="text/javascript" src="{% static 'nil/js/ace/ext-modelist.js' %}"></script>
<script type="text/javascript" src="{% static 'nil/js/ace/ext-themelist.js' %}"></script>