{% extends 'snippet/_base.html' %}
{% load staticfiles %}


{% block stylestop %}
  <link rel="stylesheet" href="{% static 'snippet/css/results.css' %}">
	<link rel="stylesheet" href="{% static 'nil/css/arta.css' %}">
{% endblock %}


{% block main %}
  
	
	<h2><strong>Recent Snippets:</strong></h2>
	
	<div class="row">
		<div class="ccol-md-1"></div>
		
		<div class="col-md-12">
			<ul class="list-unstyled results-list">
				{% for snippet in object_list %}
				<li class="col-md-4 results-object-outer">
					
					
					<div class="results-object">
						{% if snippet.author %}
						<p class="rtop"><span class="title"><a href="{% url 'snippet:detailSnippet' urlcode=snippet.url_code %}">{{ snippet.shortTitle }}</a></span> by <span class="author"><a href="{% url 'userext:profile' usrname=snippet.author.username %}">{{ snippet.author }}</a></span></p>
						{% else %}
						<p class="rtop"><span class="title"><a href="{% url 'snippet:detailSnippet' urlcode=snippet.url_code %}">{{ snippet.shortTitle }}</a></span> by <span class="author">Guest</span></p>
						{% endif %}
						<div class="results-object-preview">
							<pre class="{{ snippet.language }}">
{{ snippet.preview|escape }}
							</pre>
						</div> <!-- /.results-object-preview -->
            <form action="{% url 'snippet:searchSnippet' %}" method="POST">
              {% csrf_token %}
						  <p class="rbottom">
                <small class="text-muted">{{ snippet.date_added_raw|date:"SHORT_DATETIME_FORMAT" }}</small>
                <a class="language-link label label-primary pull-right">{{ snippet.language }}</a>
                <input type="hidden" name="searchQ" value="{{ snippet.language }}">
              </p>
            </form>
				 </div> <!-- /.results-object -->
					
					
				</li>
				{% endfor %}
			</ul>
		</div>
		
		<div class="ccol-md-1"></div>
	</div>
  
	
	<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 text-center paginator-block">
			{% if is_paginated %}
			{% if page_obj.has_previous %}
				<a class="label label-default previous" href="{% url 'snippet:allSnippet' pg=page_obj.previous_page_number %}">Prev</a>
			{% endif %}
			<span>
				Page <strong>{{ page_obj.number }}</strong> of <strong>{{ page_obj.paginator.num_pages }}</strong>
			</span>
			{% if page_obj.has_next %}
				<a class="label label-default next" href="{% url 'snippet:allSnippet' pg=page_obj.next_page_number %}">Next</a>
			{% endif %}
		{% endif %}
	</div>
</div>

  
{% endblock %}



{% block scriptsbottom %}
<script type="text/javascript" src="{% static 'nil/js/highlight.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		
		$('div pre').each(function(i, block) {
			hljs.highlightBlock(block);
		});
		
	});
</script>
{% endblock %}
