{% extends 'snippet/_base.html' %}
{% load staticfiles %}


{% block stylestop %}
  <link rel="stylesheet" href="{% static 'snippet/css/results.css' %}">
{% endblock %}


{% block main %}
  <div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 text-center">
			
			<div class="searchFormDiv">
				<h2><strong>Search some snippets here!</strong></h2>
				<form action="{% url 'snippet:searchSnippet' %}" method="POST" class="form-inline">
				 {% csrf_token %}
				 
					<div class="input-group input-group-lg">
						<input type="text" class="form-control" placeholder="Messages from Area 51..." name="searchQ">
						<span class="input-group-addon">
							<i class="fa fa-search"></i>
						</span>
					</div>
					
				</form>
				 
				<br>
		 </div>
			
		</div>
	</div>
{% endblock %}


{% block scriptsbottom %}
{% endblock %}