{% extends 'snippet/_base.html' %}


{% block stylestop %}
<style>
  .error404 {
    padding-bottom: 120px;
    padding-top: 50px;
  }
  .error404 i {
    font-size: 30px;
    color: #A363DD;
  }
</style>
{% endblock %}


{% block main %}

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="error404">
      <h4 class="text-primary">404: Page Not Found</h4>
      <br>
        
      <div class="well">
        <div class="row">
          
          <div class="col-md-6 col-sm-6 col-xs-6 text-left">
            <span><i class="fa fa-question-circle"></i></span>
          </div>
          
          <div class="col-md-6 col-sm-6 col-xs-6 text-right">
            <span><i class="fa fa-question-circle"></i></span>
          </div>
          
        </div>
        <h1>Hmm, we can't find that page.</h1>
        <h3><small>Click<a href="{% url 'snippet:index' %}"> here </a>to go back to reality.</small></h3>
      </div>
      
    </div>
  </div>
</div>



{% endblock %}

























<br><br>
<p>404: Page Not Found</p>
<br>
<h1>Hmm, we can't find that page.</h1>
<p>Click<a href="{% url 'snippet:index' %}"> here </a>to go back to reality.</p>