<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>302 - Moved Temporarily</title>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">
  <div id="page-main" class="text-center">
    
    <br>
	  <h1>Temporarily moved to this wonderful place.</h1>
    <br>
    
    <div id="page-gif">
      <img src="http://media.giphy.com/media/1lRrsraIsEYRW/giphy.gif" width="1280" height="480" alt="Nature Waterfall">
    </div>
  </div>

</body>
</html>
