{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Content Meta Tags -->
    <meta id="m_title" name="title" content="">
    <meta id="m_description" name="description" content="Monq is a small and simple web app to make and share code/text snippets online. Code snippets are the future. Easy as Pie!">
    
    <!-- Schema.org markup for Google_Plus -->
    <meta id="m_gp_title" itemprop="name" content="">
    <meta itemprop="description" content="Monq is a small and simple web app to make and share code/text snippets online. Code snippets are the future. Easy as Pie!">
    <meta id="m_gl_image" itemprop="image" content="">
    
    <!-- Twitter Card Meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@sandcoder">
    <meta id="m_tw_title" name="twitter:title" content="">
    <meta name="twitter:description" content="Monq is a small and simple web app to make and share code/text snippets online. You can make code snippets, share them, and save them for later. Code snippets are the future. Easy as Pie!">
    <meta id="m_tw_image" name="twitter:image:src" content="">

    <!-- Facebook Graph Meta tags -->
    <meta id="m_fb_title" property="og:title" content="" />
    <meta id="m_fb_type" property="og:type" content="website" />
    <meta id="m_fb_url" property="og:url" content="" />
    <meta id="m_fb_image" property="og:image" content="" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="314">
    <meta id="m_fb_descr" property="og:description" content="Monq is a small and simple web app to make and share code/text snippets online. You can make code snippets, share them, and save them for later. Code snippets are the future. Easy as Pie!"/>

    
    <title>{% block title %}{% endblock %}</title>
     
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'nil/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'nil/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'nil/css/hover-min.css' %}">
    <link rel="stylesheet" href="{% static 'nil/css/chosen.min.css' %}">
    <link rel="stylesheet" href="{% static 'nil/css/bootstrap-chosen.css' %}">
    {% block editorStyles %}{% endblock %}
    <link rel="stylesheet" href="{% static 'nil/css/monq/base.css' %}">
    {% block stylestop %}{% endblock %}
    {% block scriptstop %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Header Navbar -->
    <nav id="page-header" class="navbar navbar-default" role="navigation">
      <div class="container navbar-logo">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#page-header-dropdown">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{% url 'snippet:index' %}" class="navbar-webpage navbar-brand navbar-brand-title monq-verylight">
            monq
          </a>
          <a href="{% url 'snippet:index' %}" class="navbar-brand navbar-brand-img">
            <img class="" src="{% static 'nil/img/logo.png' %}" alt="monq logo" width="79" height="50">
          </a>

          <p class="navbar-text navbar-left tagline monq-light"><em>Code snippets with Green Tea!</em></p>
        </div> <!--/.navbar-header -->
        
        <div class="collapse navbar-collapse" id="page-header-dropdown">
          <ul class="nav navbar-nav navbar-right topNavLinks">
            <li><h3><strong><a class="monq-light" href="{% url 'snippet:index' %}">Home</a></strong></h3></li>
            <li><h3><strong><a class="monq-light" href="{% url 'nil:about' %}">About</a></strong></h3></li>
            <li><h3><strong><a class="monq-light" href="{% url 'nil:about' %}#faq">FAQ</a></strong></h3></li>
            <li><h3><strong><a class="monq-light" href="{% url 'nil:contact' %}">Contact</a></strong></h3></li>
          </ul>
        </div> <!--/.navbar-collapse -->
        
        <style>
          
        </style>
        
      </div>
    </nav> <!--/.page-header -->
    <!-- /Header Navbar -->
    
    <!-- Sticky Navbar -->
    <nav id="page-sticky-navbar" class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="nav navbar-nav navbar-left text-center">
          <button id="newSnippetButton" class="btn btn-success navbar-btn bright">New Snippet</button>
          <button id="recentSnippetsButton" class="btn btn-default navbar-btn bleft">Recent Snippets</button>
        </div>
        
        <form action="{% url 'snippet:searchSnippet' %}" method="POST" class="navbar-form navbar-left col-md-offset-3 text-center" role="search">
          {% csrf_token %}
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Snippets" name="searchQ">
              <span class="input-group-addon">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </div>
        </form>
        
        {% if user and user.is_authenticated %}
          <!-- Split button -->
          <ul class="nav navbar-form navbar-right text-center login-button login-button-authenticated">
            <div class="btn-group">
              <button id="authenticatedUserButton" type="button" class="btn userAuthButton">{{ user.username }}</button>
              <button type="button" class="btn userAuthButton dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'userext:dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'userext:usersnippets' %}">Your Snippets</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'auth_logout' %}"><i class="fa fa-cog"></i><span>&nbsp;&nbsp;Logout</span></a></li>
              </ul>
            </div>
          </ul>
        {% else %}
          <ul class="nav navbar-nav navbar-right text-center login-button">
            <button id="unauthenticatedUserButton" class="btn btn-default navbar-btn">Sign In / Sign Up</button>
          </ul>
        {% endif %}
      </div>
    </nav>
    <!-- /Sticky Navbar -->
    
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div id="alertBox" class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-fdismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div id="alertBoxInner"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div id="successBox" class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-fdismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div id="successBoxInner"></div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Page Main -->
    <div id="page-main">
      <div class="container">
        {% block main %}{% endblock %}
      </div>
    </div>
    <!-- /Page Main -->
    
    
    <!-- Page Footer -->
    <footer id="page-footer">
    
      <div class="container container-top">
      
        <div class="row">
          <div class="md-col-12 text-center">
            <ul class="list-inline footer-links">
              <li><a class="monq-verylight" href="{% url 'snippet:index' %}"><h4><strong>Home</strong></h4></a></li>
              <li><a class="monq-verylight" href="{% url 'nil:about' %}"><h4><strong>About</strong></h4></a></li>
              <li><a class="monq-verylight" href="{% url 'nil:about' %}#faq"><h4><strong>FAQ</strong></h4></a></li>
              <li><a class="monq-verylight" href="{% url 'nil:contact' %}"><h4><strong>Contact</strong></h4></a></li>
            </ul>
          </div>
        </div> <!-- /row -->
        <div class="text-center">
          <img class="footer-img" src="{% static 'nil/img/logo.png' %}" alt="monq logo" width="" height="60">
        </div>
        
        <div class="row">
          <div class="col-md-12 text-center monq-verylight">
            <p>Made with <a href="http://www.djangoproject.com/" target="_blank"><strong>Django</strong></a>, <a href="http://www.getbootstrap.com/" target="_blank"><strong>Bootstrap</strong></a> and lots of <a href="http://www.cracked.com/blog/7-scientific-ways-coffee-gives-you-super-powers/" target="_blank"><strong>Coffee</strong></a>!</p>
          </div>
        </div> <!-- /row -->
        
        <ul class="social-icons list-inline text-center">
          <li><a target="_blank" href="https://twitter.com/sandcoder" class="social-icon twitter buzz-out"></a></li>
          <li><a target="_blank" href="http://gplus.to/sandcoder" class="social-icon googleplus wobble-vertical"></a></li>
          <li><a target="_blank" href="https://github.com/tunedmystic" class="social-icon github wobble-to-bottom-right"></a></li>
        </ul>
      </div> <!-- /container -->
      
      <hr class="fancy-hr">
      
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center credits-outer">
            <p class="credits monq-verylight">Designed and developed by <a href="http://smallcode.me" target="_blank"><strong>Sandeep Jadoonanan</strong></a> &copy; <span class="year"></span>.</p>
          </div>
        </div>    
      </div> <!-- /container -->
      
    </footer>
    <!-- /Page Footer -->
    
    <!-- jQuery and other necessary scripts -->
    <script type="text/javascript" src="{% static 'nil/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'nil/js/jquery.cookie.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'nil/js/underscore-min.js' %}"></script>
    <script type="application/octet-stream" src="{% static 'nil/js/underscore-min.map' %}"></script>
    <script type="text/javascript" src="{% static 'nil/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'nil/js/chosen.jquery.min.js' %}"></script>
    
    <!-- Ace Editor specific scripts -->
    {% block editorscripts %}{% endblock %}
    
    <script type="text/javascript" src="{% static 'nil/js/monq/_base.js' %}"></script>
    
    {% block scriptsbottom %}{% endblock %}
    
    <script type="text/javascript">
      function s() {
        console.log(window.sdata.responseText);
      }
    </script>
    
  </body>
</html>