{% extends "snippet/_base.html" %}
{% load staticfiles %}

{% block main %}
  
	{% include "snippet/_editor.html" %}
	
{% endblock %}

{% block scriptsbottom %}

	<script type="text/javascript" src="{% static 'nil/js/monq/_editor.js' %}"></script>
	<script type="text/javascript" src="{% static 'snippet/js/postSnippet.js' %}"></script>
  
  {# If you are Logged in, and you are making a new Snippet, use User's editor settings. #}
  {% if user and not user.is_anonymous and newSnippet %}
  <input type="hidden" id="defsniplang" data-defsniplang="{{ user.userprofile.defaultSnippetLanguage }}">
  <input type="hidden" id="defedtheme" data-defedtheme="{{ user.userprofile.defaultEditorTheme }}">
  <script type="text/javascript">
    $(document).ready(function() {
			// Change the snippet-language select field.
      $("#snippet-language").val($("#defsniplang").data("defsniplang"));
			// Update the 'Chosen' plugin.
			$("#snippet-language").trigger("chosen:updated");
			// Trigger 'change' event to for the Snippet Editor's listeners to hook into.
			$("#snippet-language").trigger("change");
			
			// Change the snippet-theme select field.
      $("#snippet-theme").val($("#defedtheme").data("defedtheme"));
			// Update the 'Chosen' plugin.
			$("#snippet-theme").trigger("chosen:updated");
			// Trigger 'change' event to for the Snippet Editor's listeners to hook into.
			$("#snippet-theme").trigger("change");
    });
  </script>
  {% endif %}
	
	
	{# If you are anonymous, and you are making a new Snippet, use default editor settings. #}
  {% if user and user.is_anonymous and newSnippet %}
  <input type="hidden" id="defsniplang" data-defsniplang="{{ user.userprofile.defaultSnippetLanguage }}">
  <input type="hidden" id="defedtheme" data-defedtheme="{{ user.userprofile.defaultEditorTheme }}">
  <script type="text/javascript">
    $(document).ready(function() {
			// Change the snippet-language select field.
      $("#snippet-language").val("text");
			// Update the 'Chosen' plugin.
			$("#snippet-language").trigger("chosen:updated");
			// Trigger 'change' event to for the Snippet Editor's listeners to hook into.
			$("#snippet-language").trigger("change");
			
			// Change the snippet-theme select field.
      $("#snippet-theme").val("ambiance");
			// Update the 'Chosen' plugin.
			$("#snippet-theme").trigger("chosen:updated");
			// Trigger 'change' event to for the Snippet Editor's listeners to hook into.
			$("#snippet-theme").trigger("change");
    });
  </script>
  {% endif %}
	
	
	{# If viewing or copying, give the editor the Snippet language. #}
	{% if copying %}
	  <script type="text/javascript">
			$(document).ready(function() {
				// Change the snippet-language select field.
				$("#snippet-language").val($("#hidden-snippet-language").data("hidden-snippet-language"));
				// Update the 'Chosen' plugin.
				$("#snippet-language").trigger("chosen:updated");
				// Trigger 'change' event to for the Snippet Editor's listeners to hook into.
				$("#snippet-language").trigger("change");
			});
		</script>
	{% endif %}


{% endblock %}

