{% extends 'snippet/_base.html' %}
{% load staticfiles %}


{% block stylestop %}
  <link rel="stylesheet" href="{% static 'snippet/css/results.css' %}">
{% endblock %}


{% block main %}

  <div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 text-center">
			
			
			{% if passwordError %}
			<div id="alertBoxPassword" class="alert alert-danger alert-dismissible fade in" role="alert">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<div id="alertBoxInner">{{ passwordError }}</div>
			</div>
			{% endif %}
			
			<div class="searchFormDiv">
				<h2 class="text-danger"><strong>This Snippet is password protected!</strong></h2>
				<form action="." method="POST" class="form-inline" id="snippetForm">
				 {% csrf_token %}
				 
					<div class="input-group input-group-lg">
						<input type="password" class="form-control" placeholder="Enter password for Snippet" name="snippetPassword" id="snippet-password">
						<span class="input-group-addon">
							<i class="fa fa-lock"></i>
						</span>
					</div>
					
					<div class="input-group passwordButton">
						<button type="submit" class="btn btn-lg btn-primary">Unlock</button>
					</div>
					
					
				</form>
				 
				<br>
		 </div>
			
		</div>
	</div>
{% endblock %}

