<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Private Snippet</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">
  
  {% if passwordError %}
  <div class="error">
    <p>{{ passwordError }}</p>
  </div>
  <br>
  {% endif %}
  <form id="snippetForm" action="." method="POST">
    {% csrf_token %}
    
    <label for="snippet-password">This Snippet is password protected:</label>
    <input type="password" name="snippetPassword" id="snippet-password" />
    
    <input type="submit" value="Go" />
  </form>
  
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script type="text/javascript">
    
   $(document).ready(function() {
     
   });
    
  </script>
</body>
</html>
