<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>New Snippet</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">
  
  <h2 id="snippet-title">Title: <span>{{ object.title }}</span></h2>
  <p id="snippet-language">Language: <span>{{ object.language }}</span></p>
  <h4 id="snippet-author">Posted by: {{ object.author.username }} on {{ object.date_added_raw|date:"SHORT_DATETIME_FORMAT" }}</h4>
  <div id="snippet-content">{{ object.content|escape }}</div>
  <p id="snippet-hits">Hits: <span>{{ object.snippetextras.hits }}</span></p>
  <p id="snippet-likes">Likes: <span>{{ object.snippetextras.getLikes }}</span></p>
  <div id="snippet-tags">
    <h4>Tags:</h4>
    {% for tag in object.tags.all %}
    <p>{{ tag }}</p>
    {% endfor %}
  </div>
  
  {% if user and not user.is_anonymous %}
    {% csrf_token %}
    <input id="snUrl" type="hidden" data-snippeturl="{{ object.url_code }}">
    
    {% if alreadyLiked %}
      <a id="likeButton" href="#">You Liked</a>
    {% else %}
      <a id="likeButton" href="#">Like</a>
    {% endif %}
    
  {% else %}
    <p id="likeButtonL">Like</p>
  {% endif %}
  
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script type="text/javascript">
    
    function likeSnippet() {
      $.ajax({
        url: "/likeSnippet/",
        headers: {
          "X-CSRFToken": $.cookie("csrftoken")
        },
        type: "POST",
        dataType: "json",
        data: {
          "snippetUrl": $("#snUrl").data("snippeturl")
        },
        success: function(data, status, jqXHR) {
          console.log("Success!\n\n");
          
          window.sdata = data;
          console.log(window.sdata);
          
          // If you successfully UNfavorited a Snippet.
          if(data.deleted == true) {
            $("#likeButton").text("Like");
            // Decrement the "Likes" element.
            var likes = parseInt($("#snippet-likes span").text(), 10);
            likes -= 1;
            $("#snippet-likes span").text(likes);
          }
          // If you successfully favorited a Snippet.
          else {
            $("#likeButton").text("You Liked");
            // Increment the "Likes" element.
            var likes = parseInt($("#snippet-likes span").text(), 10);
            likes += 1;
            $("#snippet-likes span").text(likes);
          }
        },
        error: function(data, status, jqXHR) {
          console.log("Error!\n\n");
          
          window.sdata = data;
          console.log(window.sdata);
        }
      });
    }
    
    $(document).ready(function() {
      
      // Like a snippet through an Ajax post.
      $("#likeButton").click(function(e) {
        e.preventDefault();
        e.stopPropagation();
        likeSnippet();
      });
      
    });
    
  </script>
</body>
</html>
