{% extends "snippet/_base.html" %}
{% load staticfiles %}


{% block editorStyles %}
  {% include "nil/editorStyles.html" %}
	<link rel="stylesheet" href="{% static 'snippet/css/single.css' %}">
{% endblock %}


{% block main %}
  <div class="row">
		
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h4 id="snippet-author">Posted by:
				<strong>
					{% if object.author.username %}
					<a href="{% url 'userext:profile' usrname=object.author.username %}">{{ object.author.username }}</a>
					{% else %}Guest{% endif %}
				</strong> <small>on {{ object.date_added_raw|date:"SHORT_DATETIME_FORMAT" }}</small></h4>
			</div>
			
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div id="update-details" class="well">
					<div class="row">
						
						<!-- Hits -->
						<div class="col-md-4 col-sm-4 col-xs-3 update-details-column">
							<p>Hits:&nbsp;&nbsp;&nbsp;<span class="text-muted">{{ object.snippetextras.hits }}</span></p>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-3 update-details-column">
							<p id="snippet-likes">Likes:&nbsp;&nbsp;&nbsp;<span class="text-muted">{{ object.snippetextras.getLikes }}</span></p>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-6 update-details-column-like-button">
							{% if alreadyLiked %}
							  <h4><a id="likeButton" href="#"><span class="label label-primary">You Liked!</span></a></h4>
							{% else %}
								<h4><a id="likeButton" href="#"><span class="label label-warning">Like!</span></a></h4>
							{% endif %}
						</div>
						
					</div>
				</div>
			</div>

	</div>
	
	{% include "snippet/_editor.html" %}
{% endblock %}


{% block editorscripts %}
  {% include "nil/editorScripts.html" %}
{% endblock %}


{% block scriptsbottom %}
  <script type="text/javascript" src="{% static 'nil/js/monq/_editor.js' %}"></script>  
	
	{# Disable certain fields if you are viewing a Snippet #}
	{% if viewingSnippet %}
	<script type="text/javascript">
		// Disable Bootstrap toggle switch, and Token Fields
		$(document).ready(function() {
			
			// Disable Tokenfield.
			$("#snippet-tags-tokenfield").prop("disabled", true);
			$("#snippet-tags-tokenfield").prop("placeholder", "");
			$("#snippet-tags").tokenfield('readonly');
			
			// Disable Snippet title.
			$("#snippet-title").prop("disabled", true);
			
			// Disable snippet language.
			$('#snippet-language').prop('disabled', true).trigger("chosen:updated");
			
			// Set the editor's mode to 'ReadOnly'.
			ed.editor.setOptions({
				readOnly: true,
				highlightActiveLine: false,
				highlightGutterLine: false
			})
			ed.editor.renderer.$cursorLayer.element.style.opacity = 0;
			ed.editor.commands.commmandKeyBinding = {};
			
		});
	</script>
	{% endif %}
	
	
	{# If viewing, give the editor the Snippet language. #}
	{% if viewingSnippet %}
	  <script type="text/javascript">
			$(document).ready(function() {
				// Change the snippet-language select field.
				$("#snippet-language").val($("#hidden-snippet-language").data("hidden-snippet-language"));
				// Update the 'Chosen' plugin.
				$("#snippet-language").trigger("chosen:updated");
				// Trigger 'change' event to for the Snippet Editor's listeners to hook into.
				$("#snippet-language").trigger("change");
			});
		</script>
	{% endif %}
	
	
	{# If you are logged in and you are viewing a Snippet, you have the option to 'like' it. #}
	{% if user and not user.is_anonymous and viewingSnippet %}
		<script type="text/javascript" src="{% static 'snippet/js/singleSnippet.js' %}"></script>
		{% csrf_token %}
		<input id="snUrl" type="hidden" data-snippeturl="{{ object.url_code }}">
	{% endif %}

{% endblock %}

