{% extends "snippet/_base.html" %}
{% load staticfiles %}


{% block editorStyles %}
  {% include "nil/editorStyles.html" %}
	<link rel="stylesheet" href="{% static 'snippet/css/single.css' %}">
	<style>
		.share-list {
			margin-top: 30px;
		}
		
		.share {
			display: inline;
			font-size: 30px;
			margin: 0px 10px;
		}
		
		.share.share-twitter a {
			color: #4099FF;
		}
		
		.share.share-facebook a{
			color: #3B5998;
		}
		
		.share.share-google a{
			color: #dd4b39;
		}
	</style>
{% endblock %}


{% block main %}
  <div class="row">
			
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h4 id="snippet-author">Posted by:
				<strong>
					{% if object.author.username %}
					<a href="{% url 'userext:profile' usrname=object.author.username %}">{{ object.author.username }}</a>
					{% else %}Guest{% endif %}
				</strong> <small>on {{ object.date_added_raw|date:"SHORT_DATETIME_FORMAT" }}</small></h4>
			</div>
			
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div id="update-details" class="well">
					<div class="row">
						
						<!-- Hits -->
						<div class="col-md-4 col-sm-4 col-xs-3 update-details-column">
							<ul class="list-inline">
								<li><p>Hits:&nbsp;&nbsp;<span class="text-muted">{{ object.snippetextras.hits }}</span></p></li>
								<li><p id="snippet-likes">Likes:&nbsp;&nbsp;<span class="text-muted">{{ object.snippetextras.getLikes }}</span></p></li>
							</ul>
						</div>
						
						<div class="col-md-4 col-sm-4 col-xs-6 update-details-column-like-button text-center">
							{% if alreadyLiked %}
							  <h4><a id="likeButton" href="#"><span class="label label-primary">You Liked!</span></a></h4>
							{% else %}
								<h4><a id="likeButton" href="#"><span class="label label-warning">Like!</span></a></h4>
							{% endif %}
						</div>
						
						<div class="col-md-4 col-sm-4 col-xs-3 update-details-column modify-options text-center">
							<ul class="list-inline">
								<li><p data-toggle="tooltip" data-placement="top" title="Copy this Snippet">
								     <a href="{% url 'snippet:copySnippet' urlcode=object.url_code %}">
											<span><i class="fa fa-copy"></i></span>
										 </a>
								</p></li>
								
								<li>&nbsp;&nbsp;</li>
								
								<li><p data-toggle="tooltip" data-placement="top" title="Raw Snippet data">
								     <a href="{% url 'snippet:rawSnippet' urlcode=object.url_code %}">
											<span><i class="fa fa-align-left"></i></span>
										 </a>
								</p></li>
							</ul>
						</div>
						
						
					</div> <!-- /.row-->
				</div>
			</div>

	</div>
	
	{% include "snippet/_editor.html" %}
	
	{% if viewingSnippet %}
	<div class="row">
		<div class="col-ms-12 col-sm-12 col-xs-12">
			<ul class="list-unstyled text-center share-list">
				<li>
					<h3><strong>Share this!</strong></h3>
				</li>
				<li>
					<div class="share share-twitter"><a href="#" buttonInfo="Post a tweet on Twitter!"><span><i class="fa fa-twitter-square buzz-out"></i></span></a></div>
					<div class="share share-facebook"><a href="#" buttonInfo="Post on Facebook!"><span><i class="fa fa-facebook-square buzz-out"></i></span></a></div>
					<div class="share share-google"><a href="#"><span><i class="fa fa-google-plus-square buzz-out"></i></span></a></div>
				</li>
			</ul>
		</div>
	</div>
	{% endif %}
{% endblock %}


{% block editorscripts %}
  {% include "nil/editorScripts.html" %}
{% endblock %}


{% block scriptsbottom %}
  <script type="text/javascript" src="{% static 'nil/js/monq/_editor.js' %}"></script>
	<script type="text/javascript" src="{% static 'nil/js/linkPopup.js' %}"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip()
		});
	</script>
	
	{# Disable certain fields if you are viewing a Snippet #}
	{% if viewingSnippet %}
	<script type="text/javascript">
		// Disable Bootstrap toggle switch, and Token Fields
		$(document).ready(function() {
			
			// Disable Tokenfield.
			$("#snippet-tags-tokenfield").prop("disabled", true);
			$("#snippet-tags-tokenfield").prop("placeholder", "");
			$("#snippet-tags").tokenfield('readonly');
			
			// Disable Snippet title.
			$("#snippet-title").prop("disabled", true);
			
			// Disable snippet language.
			$('#snippet-language').prop('disabled', true).trigger("chosen:updated");
			
			// Set the editor's mode to 'ReadOnly'.
			ed.editor.setOptions({
				readOnly: true,
				highlightActiveLine: false,
				highlightGutterLine: false
			})
			ed.editor.renderer.$cursorLayer.element.style.opacity = 0;
			ed.editor.commands.commmandKeyBinding = {};
			
		});
	</script>
	{% endif %}
	
	
	{# If viewing, give the editor the Snippet language. #}
	{% if viewingSnippet %}
	  <script type="text/javascript">
			$(document).ready(function() {
				// Change the snippet-language select field.
				$("#snippet-language").val($("#hidden-snippet-language").data("hidden-snippet-language"));
				// Update the 'Chosen' plugin.
				$("#snippet-language").trigger("chosen:updated");
				// Trigger 'change' event to for the Snippet Editor's listeners to hook into.
				$("#snippet-language").trigger("change");
			});
		</script>
	{% endif %}
	
	
	{% if viewingSnippet %}
	<input id="twitter-tagline" type="hidden" data-twitter-tagline="Check out this snippet: {{ object.title }} | #monq.cc">
	<input id="page-path" type="hidden" data-path="{{ path }}">
	<script>
		$(document).ready(function() {
			var thisPage = $("#page-path").data("path");
		  var shareUrls = {
			"facebook"  : "https://www.facebook.com/sharer/sharer.php?u=", 
			"twitter"   : /*"http://twitter.com/home?status="*/
										"http://twitter.com/share?text=" + encodeURIComponent($("#twitter-tagline").data("twitter-tagline")) + "&url=" + thisPage,
			"google": "https://plus.google.com/share?url=" + thisPage
	    }
			window.ss = shareUrls;
			
			// Set up Meta tag information.
			$("#m_fb_url").attr("content", thisPage);
			$("#m_fb_image").attr("content", document.location.origin + "/static/nil/img/monqBanner.png");
			$("#m_tw_image").attr("content", document.location.origin + "/static/nil/img/monqBanner.png");
      $("#m_gl_image").attr("content", document.location.origin + "/static/nil/img/monqBanner.png");
			
			// Set up social icons.
			$(".share-twitter a").attr("href", shareUrls["twitter"] );
			$(".share-google a").attr("href", shareUrls["google"] );
      $(".share-facebook a").attr("href", shareUrls["facebook"] + thisPage + "&t=" + document.title);
			
			/// Default action for all HTML elements with the class "popup"
			$(".share a").click(function(e) {
				 e.preventDefault();
				 e.stopPropagation();
				 popupCenter( $(this).attr("href"), $(this).attr("buttonInfo") );
			});
		});
	</script>
	{% endif %}
	
	
	{# If you are logged in and you are viewing a Snippet, you have the option to 'like' it. #}
	{% if user and not user.is_anonymous and viewingSnippet %}
		<script type="text/javascript" src="{% static 'snippet/js/singleSnippet.js' %}"></script>
		{% csrf_token %}
		<input id="snUrl" type="hidden" data-snippeturl="{{ object.url_code }}">
	{% endif %}

{% endblock %}

